body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.navbar{
  background-color: white;
  color: black;
  padding: 10px 0;
  text-align: center;
}
.navbar-content{
  max-width: 800px;
  margin: 0 auto;
}
.logo{
  font-weight: bold;
}
